certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.0.3
cycler==0.11.0
docker-pycreds==0.4.0
filelock
fonttools==4.27.1
gitdb==4.0.9
GitPython==3.1.20
huggingface-hub==0.15.1
idna==3.3
kiwisolver==1.3.1
matplotlib
numpy
packaging
pandas
pathtools
Pillow
promise
protobuf
psutil
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
scipy
seaborn
sentry-sdk
setproctitle
shortuuid
six
smmap
tokenizer
torch
tqdm
transformers
typing_extensions
urllib3
wandb
